@import "primeng/resources/themes/lara-light-blue/theme.css";
@import "primeng/resources/primeng.css";

@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/neo-sans-arabic');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #f3f5f7;
}

body[dir="ltr"] {
    @apply font-english
}

body[dir="rtl"] {
    @apply font-arabic
}


.arabic {
    direction: rtl;
    @apply font-arabic
}

.english{
    direction: ltr;
    @apply font-english
}


.p-tooltip .p-tooltip-text {
    background-color: transparent !important;
}

.p-tooltip {
    position: absolute;
    background-color: #1c1c28;
}

.p-tooltip:after {
    content: "";
    position: absolute;
    bottom: 100%;
    left: 50%;
    margin-left: -5px;
    border-width: 5px;
    border-style: solid;
    border-color: transparent transparent #1c1c28 transparent;
}

.p-datatable-thead {
    @apply !rounded-md border-separate;
}

button.p-ripple.p-element.p-paginator-last.p-paginator-element.p-link {
    display: none !important;
}

button.p-ripple.p-element.p-paginator-first.p-paginator-element.p-link {
    display: none !important;
}

span.p-paginator-current {
    display: none !important;
}

.p-paginator-element {
    display: none !important;
}

.p-paginator-rpp-options {
    display: none !important;
}

span.p-element.p-dropdown-label.p-inputtext {
    display: flex;
    justify-content: center;
    align-items: center;
}

